@{
    ViewBag.Title = "Config";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Config</h2>

io: @ViewBag.io <br />
workers: @ViewBag.worker<br />
requests read: @ViewBag.requestsread <br />
iasync operations: @ViewBag.asyncoperations 